:root {
    background-color: #555;
    font-size: 24px;
    color: #fff;
}

#topbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100svw;
    height: 2rem;
    line-height: 2rem;
    padding: 0px 0.67rem;
    background-color: rgba(0, 0, 0, 0.6);
}